@import url('https://fonts.googleapis.com/css?family=Montserrat');

*{
  outline: none;
}

body{
  margin: 0;
  height: fit-content;
  font-family: 'Montserrat', sans-serif;
}

::-webkit-scrollbar { 
  display: none; 
}

a{
  text-decoration: none;
  color: white;
}

h2{
  font-size: 2em;
  font-weight: 300;
}

p{
  font-size: 1.2em;
}

/* Navigation */

.hamburger{
  display: none;
  right: 0;
  margin: 20px;
  position: fixed;
  z-index: 10;
}

.bar1, .bar2, .bar3{
  width: 35px;
  height: 3px;
  background-color: white;
  margin: 0 0;
  transition: 0.4s;
  border-radius: 10px;
}

.bar2{
  margin: 6px 0;
  width: 25px;
}

.bar3{
  width: 30px;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-6px, 6px);
  transform: rotate(-45deg) translate(-6px, 6px);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-5px, -8px);
  transform: rotate(45deg) translate(-5px, -8px);
  width: 35px;
}

.Navigation{
  width: 80%;
  margin: 0 auto;
}

.Navigation ul{
 margin: 0 0 0 -75px ;
 padding: 50px 25px 0 25px;
}

button{
  background-color: #1b1a1a;
  color: white;
  font-size: 1.5em;
  border: 0;
  padding: 10px 25px;
  min-height: 40px;
  margin-left: -1px;
}

button:hover{
  background-color: #494949;
  transition: .3s;
  cursor: pointer;
}

.Navigation ul li{
  list-style: none;
  display: inline;
}

.Navigation ul li .first-btn{
  padding-left: 125px;
  border-radius: 5px 0 0 0;
  margin-left: 0;
}

.Navigation ul li .last-btn{
  padding-right: 50px;
  border-radius: 0 5px 0 0;
}

.Navigation ul li .Home-active{
  background-color: #3D5585;
  padding-top: 20px;
  transition: .5s;
  border-radius: 5px 5px 0 0;
}

.Navigation ul li .Portfolio-active{
  background-color: #17161D;
  padding-top: 20px;
  transition: .5s;
  border-radius: 5px 5px 0 0;
}

.Navigation ul li .Contact-active{
  background-color: #224945;
  padding-top: 20px;
  transition: .5s;
  padding-right: 50px;
  border-radius: 5px 5px 0 0;
}

/* Tab backgrounds */

.background {
  -webkit-transition: .5s;
  transition: .5s;
  min-height: 100vh;
  height: fit-content;
  width: 100%;
  position: relative;
  box-sizing: border-box;
}

.home-background{
  background-color: #87AAEF;
}

.contact-background{
  background-color: rgb(128, 206, 195);
}

.portfolio-background{
  background: #000;
}

.project2-background{
  background-color: rgb(195, 255, 205);
}

.project3-background{
  background-color: #A9FFF8;
}

/* General tab styling */

.page {
  width: 80%;
  max-height: 70vh;
  height: auto;
  overflow: hidden;
  padding: 50px;
  margin: 0 auto 100px;
  margin-top: -1px;
}

/* Home tab */

.Home{
  background-color: #3D5585;
  border-radius: 0 5px 5px 5px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.Home h1{
  color: white;
  font-size: 3.5em;
  margin: 125px 0 20px 75px;
}

.Home p{
  color: white;
  font-size: 1.7em;
  margin-top: 0;
  margin-left: 75px;
}

.Home img{
  width: 80%
}

.cta-btn{
  margin: 30px 0 0 75px;
  background-color: transparent;
  border: #87AAEF 2px solid;
  font-size: 1.5em;
  border-radius: 5px;
}

.cta-btn:hover {
  background-color: #87AAEF;
  color: black;
}

/* Contact tab */

.Contact{
  background-color: #224945;
  color: white;
  display: grid;
  grid-template-columns: 1fr 1fr;
  min-height: 680px;
}

.contact-text{
  padding-left: 75px;
}

.contact-text a:hover{
  color: #C2E0E0;
  transition: .3s;
}

.Contact a i{
  font-size: 4em;
  margin: 122px 20px 0 0;
}
  .Contact a i:hover{
    color: #C2E0E0;
    transition: .3s;
  }

.Contact h2{
  margin: 75px 0 41px 0px;
  font-size: 3em;
}

.contact-form-container{
  margin-top: 0px;
}

.Contact input{
  height: 40px;
  padding: 5px 0 0 0px;
  font-size: 1.3rem;
  min-width: 270px;
  width: 80%;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #C2E0E0;
  display: block;
  margin-top: -40px;
  transition: margin linear .3s;
  color: white;
}

.Contact textarea{
  font-size: 1.3rem;
  height: 40px;
  min-width: 270px;
  width: 80%;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #C2E0E0;
  padding: 5px 0 0 0;
  margin-left: 0px;
  display: block;
  transition: height linear .3s;
  margin-top: -40px;
  margin-bottom: 40px;
  color: white;
}

form button {
  border-radius: 5px;
  display: block;
  margin: 0 0 10px 0;
  background-color: transparent;
  border: 2px solid #C2E0E0;
  font-size: 1.5em;
  width: auto;
  text-align: left;
}

form button:hover{
  background-color: #C2E0E0;
  color: black;
}

 form label{
  display: block;
  margin-top: 40px;
  color: #C2E0E0;
}

.form-label-name{
  margin-top: 173px;
}

form .Active{
  margin-top: 0;
  transition: margin linear .3s;
}

form .ActiveField{
  margin-top: 0;
  height: 150px;
  transition: height linear .3s;
}

/* Portfolio tab */

.Portfolio{
  background-color: #17161D;
  display: grid;
  grid-template-columns: 1.5fr 0.5fr;
  border-radius: 0 5px 5px 5px;
  max-height: 750px;
  min-height: 750px;
}


.projects{
  background-color: #17161D;
  padding: 75px 0px 0px 0px;
}

.projects h2{
  margin: 0 0 0 50px;
  color: white;
  font-size: 2em;
}

.projects hr{
  margin: 0 0 30px 50px;
}

.projects button{
  display: block;
  background-color: transparent;
  padding-left: 50px;
  width: 350px;
  text-align: left;
  color: rgba(255, 255, 255, 0.75);
}
    .projects button:hover{
      color: white;
    }

.projects .project-btn-general{
  color: white;
  transition: .5s;
  border-radius: 0 5px 5px 0;
}

.eye-green{
  color: #9ee9cc;
}

.eye-red{
  color: rgb(226, 158, 158)
}

.projects i {
  margin-right: 20px;
}

.projects .project1-btn{
  background-color: #13426C;
}

.projects .project2-btn{
  background-color: #1f4134;
}

.projects .project3-btn{
  background-color: #0f4880;
}

/* single project */

.project-text h2{
  font-size: 2.5em;
}

.Project{
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: 1.25fr 0.75fr;
  border-radius: 5px;
}

/* single project backgrounds */

.project1{
  background-color: #13426C;
}

.project2{
  background-color: #1f4134;
}

.project3{
  background-color: #0f4880;
}

/* single project img */

.Project img{
  height: auto;
  max-height: 400px;
  max-width: 100%;
  margin-top: 200px;
  object-fit: cover;
}

.project-img-container{
  padding: 100px 75px 0 0;
  border-radius: 0 5px 0 0;
}

/* single project text */


.project-text{
  padding: 75px 40px 40px 75px;
  color: white;
}

.project-text h2 {
  margin: 0;
}

.project-text ul{
  margin: 40px 0 70px;
  padding-left: 20px;
}

.project-text .project-tech{
  text-align: left;
  margin: 5px 0 0 0;
  padding-left: 0;
  font-size: 1.2em;
}

/* single project buttons */

.project-text button{
  border-radius: 5px;
  display: block;
  margin: 0 0 10px 0;
  background-color: transparent;
  font-size: 1.5em;
  width: 250px;
  text-align: left;
}

.project-text button a i {
  width: 50px;
}

.project-text .project1-cta{
  border: #F07B51 2px solid;
}
    .project-text .project1-cta:hover{
      background-color: #F07B51;
    }

.project-text .project2-cta{
  border: #C3FFCD 2px solid;
}
    .project-text .project2-cta:hover{
      background-color: #C3FFCD;
    }

.project-text .project3-cta{
  border: #A9FFF8 2px solid;
}
    .project-text .project3-cta:hover{
      background-color: #A9FFF8;
    }

.project-text button:hover a{
  color: black;
  transition: .3s;
}


@media (max-width: 1200px){

  /* home */

  .Home{
    grid-template-columns: 1.2fr .8fr;
  }
  
  .Home h1{
    font-size: 3em;
  }
  
  .Home p{
    color: white;
    font-size: 1.6em;
  }
  
  .Home img{
    width: 120%;
    margin-top: 50px;
  }

  /* Portfolio */

  .Portfolio{
    grid-template-columns: 
    1.2fr 0.8fr;
    max-height: 1000px;
    min-height: 1000px;
  }

  .Project{
    display: grid;
    grid-template-columns: 1fr;
    height: fit-content;
  }

  .project-img-container{
    grid-row: 1;
    padding: 0 200px 0 40px;
  }

  .project-img-container img{
    margin: 50px 0 0;
  }

  .project-text{
    grid-row: 2;
  }

  .project-text{
    padding: 40px;
    color: white;
  }

  .contact-text{
    padding-left: 20px;
  }

}
@media (max-width: 930px){

  /* home */

  .Home{
    grid-template-columns: 1.2fr .8fr;
  }
  
  .Home h1{
    font-size: 3em;
    margin: 50px 0 20px 50px;
  }
  
  .Home p{
    color: white;
    font-size: 1.6em;
    margin-top: 0;
    margin-left: 50px;
  }
  
  .Home img{
    width: 150%;
    margin-top: 150px;
  }

  .cta-btn{
    margin: 30px 0 0 50px;
    font-size: 1.5em;
  }

  /* Navigation */

  .Navigation ul{
  padding: 30px 0 0 25px;
  }

  .Navigation ul li .first-btn{
    padding-left: 25px;
  }

  .Navigation ul li .last-btn{
    padding-right: 25px;
  }

  /* page */

  .background{
    height: 100vh;
    min-height: max-content;
    width: 100%;
  }

  
  /* portfolio */ 
  
  .Portfolio{
    height: auto;
    overflow: visible;
    margin-bottom: 50px;
    grid-template-columns: 1fr;
    grid-template-rows: 325px auto;
    max-height: auto;
    min-height: 1300px;
  }

  .project-img-container{
    grid-row: 1;
    padding: 0 300px 0 20px;
  }

  .project-img-container img{
    margin: 25px 0 40px;
  }

  .projects .project-btn-general{
    border-radius: 5px;
  }

  .projects{
    grid-row: 1;
    padding-top: 0;
  }

  .projects h2{
    margin-left: 20px;
  }

  .projects hr{
    margin: 10px 0 30px 20px;
  }

  .projects button{
    padding-left: 25px;
  }

  .Project{
    height: auto;
  }

  .project-text{
    padding: 20px;
  }

  .Contact{
    grid-template-columns: 1fr;
    max-height: auto;
    height: fit-content;
    min-height: 1000px;
  }

  form{
    margin-left: 20px;
  }

  .form-label-name{
    margin-top: 0
  }

  .Contact a i{
    margin-top: 30px;
  }

  .contact-form-container{
    grid-row: 2;
    margin-top: 0px;
  }
}

@media (max-width: 700px){

    /* Home */ 

  .Home{
    grid-template-columns: 1fr;
  }

  .projects{
    margin-bottom: 40px;
  }

  .Home img{
    width: 100%;
    margin-top: 50px;
  }
  
  .Portfolio{
    min-height: 1250px;
  }

  .projects .project-btn-general{
    border-radius: 5px;
  }

}

@media (max-width: 600px){

  /* Home */ 
  
  .Home h1{
    margin: 50px 0 20px 30px;
    font-size: 2em;
  }
  
  .Home p{
    color: white;
    font-size: 1.3em;
    margin-left: 30px;
  }
  
  .Home img{
    width: 120%;
    margin-top: 50px;
    margin-left: -130px;
  }


  /* single project */


  /* projects */

  .project-img-container{
    padding: 0 200px 0 20px;
  }

  .projects button{
    width: 300px;
  }

  .project-text button {
    padding: 10px 25px;

}

  /* Navigation */

  .Navigation{
    margin: 30px auto;
    position: fixed;
    z-index: 9;
    top: -50px;
  }

  .Navigation ul{
    position: absolute;
    padding: 100px 0 50px 0px;
    width: 100vw;
    height: 100vh;
    margin: 0;
    background-color: rgba(36, 49, 68, 0.97);
    text-align: center;
  }

  .Navigation ul li{
    display: block;
    margin-right: 0px;
  }

  .Navigation ul li button{
    width: 100%;
    padding: 40px 0;
    font-size: 1.8em;
  }

  .Portfolio-active{
    padding: 40px 0 !important;
  }

  .Contact-active{
    padding: 40px 0 !important;
  }

  .Home-active{
    padding: 40px 0 !important;
  }

  button{
    width: auto;
    padding: 0;
    background-color: transparent !important;
  }

  .Contact button{
    padding: 10px 25px;
    margin-top: 5px;
  }

  .cta-btn{
    margin: 30px 0 0 30px;
    font-size: 1.3em;
    padding: 10px 25px;
    width: 250px;
  }

  form{
    margin-top: -50px;
  }

  .cta-btn:hover{
    background-color: #87AAEF !important;
  }

  .Navigation ul li .first-btn{
    padding-left: 0;
    border-radius: 0;
  }

  .Navigation ul li .last-btn{
    padding-right: 0;
    border-radius: 0;
  }
  
  .nav-fade{
    animation: slideOut .5s;
  }

  .nav-hide{
    display: none;
  }

  .nav-show{
    display: block;
    animation: appear .5s;
    animation: slideIn .5s;
  }

  .hamburger{
    display: block;
  }

  @keyframes appear {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  @keyframes slideIn {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(0);
    }
  }
  
  @keyframes slideOut {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(150%);
    }
  }

}

@media (max-width: 470px){
  .page{
    width: 85%;
    padding: 100px 0px 25px 25px;
    border-radius: 0 0 5px 5px;
    margin-right: 0;
    min-height: 650px;
    max-height: 650px;
  }

  .Portfolio{
    min-height: 1350px;
    height: auto;
    max-height: auto;
  }

  .project-img-container{
    padding: 0 100px 0 20px;
  }

  .Contact{
    grid-template-columns: 1fr;
    max-height: auto;
    height: fit-content;
    min-height: 1000px;
  }

  .Contact h2{
    font-size: 2.5em;
  }

  .projects{
    padding: 75px 0px 0px;
  }

  .project-text h2{
    font-size: 2em;
  }

  .project-text p{
    font-size: 1em;
    line-height: 25px;
  }
}

@media (max-width: 350px){

  .Portfolio{
    padding-left: 0;
    margin-left: 20px;
    width: 95%;
  }

  .contact-text{
    padding-left: 0;
  }

  form{
    margin-left: 0;
  }

  .Home h1{
    margin-left: 0px;
    font-size: 2.3em;
  }
  
  .Home p{
    margin-left: 0px;
  }

  .Home .cta-btn{
    margin-left: 0;
  }

}

@-moz-document url-prefix() {
  .portfolio-background {
      height: 1080px;
  }

  .home-background{
    height: 980px;
  }

  .contact-background{
    height: 1000px;
  }

  @media(max-width: 930px){
    .contact-background{
      height: 1300px;
    }

    .portfolio-background {
      height: 1580px;
  }

    .home-background{
      height: 900px;
    }
  }

  @media(max-width: 700px){
    .home-background{
      height: 900px;
    }

    .portfolio-background {
        height: 1600px;
    }

    .contact-background{
      height: 1300px;
    }
  }
}

@media screen and (min-color-index:0) and(-webkit-min-device-pixel-ratio:0)
{
  .portfolio-background {
    height: 1080px;
  }

  .home-background{
    height: 980px;
  }

  .contact-background{
    height: 1000px;
  }

@media(max-width: 930px){
  .contact-background{
    height: 1300px;
  }

  .portfolio-background {
    height: 1580px;
  }

  .home-background{
    height: 900px;
  }
}

@media(max-width: 700px){
  .home-background{
    height: 900px;
  }

  .portfolio-background {
      height: 1600px;
  }

  .contact-background{
    height: 1300px;
  }
}
  }