
/* Global styles ---------------------------------------*/

@font-face {
    font-family: 'OCR-A';
    src: url('../fonts/ocr-a\ regular.ttf')  format('truetype');
  }

@font-face {
    font-family: "VCR";
    src: url("../fonts/vcr_osd_mono.ttf") format('truetype');
}

@font-face {
    font-family: "Bebasneue";
    src: url("../fonts/bebasneue.ttf") format('truetype');
}

*{
    box-sizing: border-box;
}

html,body{
    background-color: #040301;
    color: white;
    width: 100%;
    margin: 0;
    padding: 0;
}

h2,
h3 {
    font-family: 'VCR', sans-serif;
    font-weight: 100;
    margin-bottom: 0;
}

a{
    font-family: 'Ingra', sans-serif;
}

h3 {
    font-size: 22px;
}

p,
h4 {
    line-height: 18px;
    font-size: 14px;
    font-family: 'Ingra', sans-serif;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    font-family: 'Courier New', Courier, monospace;
}

.container {
    width: 90%;
    margin: 0 auto;
    padding: 10px 0;
}


/* Navigation-------------------------------------------*/
#logo{
    display: inline-block;
    width: 100px;
    height: auto;
    margin: 15px 0 0 15px;
    cursor: pointer;
}


#main-nav{
    width: 100%;
    height: 80px;
    margin: 0;
    z-index: 99;
    top: 0;
    position: fixed;
    transition: 0.5s;
}

#main-nav .menu-container{
    display: inline-block;
    cursor: pointer;
    float: right;
    margin: 28px 15px 0 0;
}

.bar1, .bar2, .bar3{
    width: 35px;
    height: 3px;
    background-color: white;
    margin: 0 0;
    transition: 0.4s;
    border-radius: 10px;
}

.bar2{
    margin: 6px 0;
}

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-6px, 6px);
    transform: rotate(-45deg) translate(-6px, 6px);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-5px, -8px);
    transform: rotate(45deg) translate(-5px, -8px);
}

#dropdown{
    height: 0vh;
    width: 100%;
    background-color: #0a0a0a;
    float: left;
    opacity: 0.98;
    z-index: 98;
    position: fixed;
    border: none;
    transition: height 0.35s linear 0s;
    overflow: hidden;
    font-size: 1.4em;
    text-align: center;
}

#dropdown ul{
    position: absolute;
    top: 15%;
    padding: 0;
    width: 100%;
}

#dropdown ul li{
    list-style: none;
    padding: 0px 0;
    margin: 0 auto;
    width: 40%;
    display:block;
}

#dropdown ul li a{
    padding: 5px 0;
    display: block;
    position: relative;
    background-color: #0a0a0a;
    text-decoration: none;
    color: white;
    border-radius: 8px;
    font-family: 'Rubik', sans-serif;
}

#dropdown ul li a:hover{
    color: #2F9AB2;
    transition: 0.25s;
}

.flag{
    width: 50px;
}

.flag:hover{
    transform: scale(1.05);
}



/* slider ---------------------------------------*/

.main-banner {
    background: url("../img/Header-bg.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0 auto;
    max-width: 100%;
    height: 700px;
    background-color: #fff;
    overflow: hidden;
    position: relative;
}


.main-banner .imgban{
    width: 100%;
    height: 100%;
    position: absolute;
    margin: 0 auto;
    top: 0px;
    transition: all ease-in-out 500ms;
    -webkit-transition: all ease-in-out 500ms;
    -moz-transition: all ease-in-out 500ms;
    -o-transition: all ease-in-out 500ms;
}

.main-banner #imgban3{
    background-color: transparent;
}

.main-banner #imgban2{
    background-color: transparent;
}

.main-banner #imgban1{
    background-color: transparent;
}

/* Slider content ---------------------------------------*/

.banner-header{
    margin: 0 auto;
    font-size: 1.2em;
    letter-spacing: 1.5px;
    min-height: 40px;
    color: white;
    font-weight: 200;
    font-family: 'OCR-A', Courier, monospace;
}

.imgban-box{
    position: absolute;
    top: 140px;
    font-size: 1.4em;
    text-align: center;
    width: 90%;
    margin-left: 5%;
    color: white;
}

.icon-box{
    text-align: left;
    margin: 20px 0 50px 0;
    color: white;
}

.icon-box i{
    margin: 10px 10px 0 -10px;
    min-width: 40px;
    text-align: center;
}

.icon-box span{
    font-size: 0.75em;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 1px;
    font-family: Courier, monospace;
}

.intro-box p{
    text-align: left;
    font-size: 0.8em;
    font-family: 'Ingra', sans-serif;
    max-width: 700px;
    margin: 0 auto 65px;
}

.intro-box a{
    color: #2F9AB2;
    text-decoration: none;
    cursor: pointer;
}

.intro-box a:hover{
    color: white;
    transition: .25s;
}

.intro-box .cta-btn{
    text-align: center;
    width: 100%;
    max-width: 200px;
    margin-top: 10px;
    padding: 10px 10px;
    border-radius: 30px;
    background-color: #2F9AB2;
    color: white;
    border:none;
    font-size: 1em;
    font-family: 'Ingra', sans-serif;
    cursor: pointer;
}

.intro-box .cta-btn:hover{
    background-color: #313030;
    transition: .25s;
}


/* Main content / body --------------------------------------------------*/

/* Anchors */
a.anchor {
    display: block;
    position: relative;
    top: 50px;
    visibility: hidden;
    box-sizing: content-box;
}

/* main--------------------- */
/* intro-------------------- */
.textBlock {
    margin-bottom: 35px;
}

.textBlock h2 {
    font-size: 26px;
}

/* shortcut section--------- */
.shortcutBox {
    margin-top: 35px;
}

.shortcutBox h3 {
    margin-bottom: 0;
    color: #2F9AB2;
}

.shortcutBox li {
    font-size: 14px;
    line-height: 20px;
}

.shortcutBox li a{
    font-size: 14px;
    line-height: 20px;
    text-decoration: none;
    color: white;
    font-family: 'Courier New', Courier, monospace;
}

.shortcutBox li a:hover {
    color: #278195;
    transition: .25s;
    -webkit-transition: .25s;
    -moz-transition: .25s;
    -o-transition: .25s;
}

.shortcut_top_line {
    width: 190px;
    margin: 10px 0 -10px 40px;
    height: 1px;
    background: #2F9AB2;
}

.shortcut_bottom_line {
    width: 170px;
    margin: -10px 0 10px 114px;
    height: 1px;
    background: #2F9AB2;
}

.shortcut_bottom_vertical_line {
    width: 1px;
    margin: -70px 0 0 284px;
    height: 60px;
    background: #2F9AB2;
}

/* study information box---------- */
.study_info {
    margin-top: 35px;
}

.study_info h3 {
    margin-bottom: 10px;
    color: #2F9AB2;
    text-align: center;
}

.study_box {
    padding: 5px 10px;
    background: #fff;
    color: #000;
    border-radius: 2px;
    margin-bottom: 35px;
}

.study_box h4 {
    font-family: 'Courier New', Courier, monospace;
    margin-top: 25px;
    color: #2F9AB2;
    font-weight: 100;
    font-size: 18px;
}

.study_box p,
.study_box a {
    font-family: 'Courier New', Courier, monospace;
    line-height: 24px;
    padding: 0;
    margin: 0;
    color: #000;
}

.study_line {
    width: 200px;
    margin: -15px 10px 5px 10px;
    height: 1px;
    background: #2F9AB2;
}

/* block quotes--------------- */
.quote_box img {
    max-width: 100%;
    margin-top: 10px;
    border-radius: 100px;
    float: left;
}

.quote_text {
    margin: 50px 0;
    padding-left: 80px;
}

.quote_box span {
    margin-bottom: 70px;
    margin-left: -15px;
    font-size: 3em;
    color: #2F9AB2;
    font-style: oblique;
}

.block_quote p {
    color: #2F9AB2;
    margin-top: -12px;
    padding-left: 55px;
}

/* video and photos--------------- */
.video {
    width: 100%;
}

.photo {
    width: 100%;
}

/* accordions---------------------- */
.accordion {
    color: #2F9AB2;
    text-align: center;
}

.accordion_box {
    margin-top: 5px;
    background: #fff;
    border-radius: 2px;
    border: solid 3px #eee;
}

.accordion_box:hover {
    background-color: #FF2F02;
    transition: .25s;
    border: solid 3px #FF2F02;
    transition: .25s;
    -webkit-transition: .25s;
    -moz-transition: .25s;
    -o-transition: .25s;
    cursor: pointer;
}

#learn-list{
    display: none;
    width: 90%;
    margin-left: 5%;
}

#topic-list{
    display: none;
    width: 90%;
    margin-left: 5%;
}

.accordion-list{
    width: 100%;
}

.accordion-text{
    font-size: 1.2em;
    text-align: left;
    
}

.accordion-list-item{
    color: white;
    padding: 10px 20px;
    text-align: left;
    font-size: 0.9em;
    font-weight: 300;
    list-style-type: disc;
    font-family: 'Ingra', sans-serif;
}

.last_accordion {
    margin-bottom: 55px;
}

/* news */
.news h3 {
    margin-bottom: 5px;
}

.news_element h4 {
    margin: 0;
}

.news_element p {
    margin-top: 5px;
}

.news_element a {
    color: #fff;
}

.news_element a:hover{
    color: #6f6f6f;
    transition: .25s;
    -webkit-transition: .25s;
    -moz-transition: .25s;
    -o-transition: .25s;
}

.news_element img {
    margin-top: 10px;
    opacity: 0.7;
}

.news_element img:hover{
    opacity: 1;
    transition: .25s;
    -webkit-transition: .25s;
    -moz-transition: .25s;
    -o-transition: .25s;
}

.mapOuter{
    width: 90%;
    margin-left: 5%;
}

.gmap{
    width: 100%;
}

.map-links{
    margin: 20px 0;
    text-align: left;
}

.map-links button{
    color: white;
    text-decoration: none;
    font-size: 1em;
    padding: 5px 10px;
    background-color: #2F9AB2;
    border-radius: 50px;
    border: none;
}

.map-links button:hover{
    background-color: #6f6f6f;
    transition: .25s;
    -webkit-transition: .25s;
    -moz-transition: .25s;
    -o-transition: .25s;
    cursor: pointer;
}

/*!!!!! FOOTER MOBILE !!!!!*/

.footer{
  background-color: #F4F4F4;
  width: 100%;
  max-width: 676px;
  border-top: 5px solid #278195;
  margin-top: 50px;
  padding: 0px 2% 0px 2%;

}
.footer a{
  color: black;
  font-size: 20px;
}
.footer h3{
  font-size: 25px;
  font-family: 'Bebasneue', sans-serif;
  font-weight: 600;
  letter-spacing: 1px;
    color: black;
}
.footer p{
    color: black;
}

.border{
  border-top: 2px solid #278195;
  width: 100%;
  margin: 10px auto 10px auto;
}

.footer-about{
  margin: 15px 0px 10px 0px;
}
.footer-about p{
  padding: 5px 0px 10px 0px;
  font-size: 16px;
}
.footer-about ul{
  list-style-type: none;
}
.footer-about ul li{
  padding: 5px 0px 5px 0px
}
.footer-about ul li a{
  text-decoration: none;
}

.footer-studies{
  display: flex;
  flex-direction: column;
}
.footer-studies ul li{
  list-style-type: none;
  padding: 5px 0px 0px 0px;
  font-weight: 600;
}
.footer-studies ul li:last-child{
  padding: 5px 0px 5px 0px;
}
.footer-studies ul li a{
  text-decoration: none;
  font-size: 20px;
}

.footer-contact{

}
.footer-contact h3{
    color: black;
}
.footer-contact ul li{
    color: black;
}
.footer-contact ul li{
  display: flex; /*This aligns icon and text*/
  list-style-type: none;
  padding: 5px 0px 0px 0px;
}
.footer-contact ul li:last-child{
  padding: 5px 0px 5px 0px;
}
.footer-contact ul li i{
  padding: 0px 5px 0px 0px;
  font-size: 20px;
}

#newsletter-form{
    margin: 0 auto;
}

.footer-news{
  display: flex;
  flex-direction: column;
  padding: 35px 0px 20px 0px;
    color: black;
}
.footer-news input{
  text-align: center;
  font-size: 20px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  border: solid 1px black;
  border-radius: 5px;
  height: 40px;
  width: 320px;
  margin: 30px auto 10px auto;
}
.footer-news button{
  background-color: #278195;
  border: solid 1px black;
  border-radius: 5px;
  height: 40px;
  width: 320px;
  margin: 5px auto 20px auto;
  font-size: 20px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
}

.footer-copy{
  display: flex;
  justify-content: center;
  padding: 0px 0px 20px 0px;
}
.footer-copy p{
    color: gray;
}

/*!!!!! FOOTER MOBILE END !!!!!*/


/* Media query for tablet ------------------------------------------------*/

@media only screen and (min-width: 767px){

    /* slider and slider content -------------*/

    .main-banner {
        height: 600px;
    }

    .line-break{
        display: none;
    }
    
    .banner-header{
        margin: 0 auto;
        font-size: 1.7em;
        min-height: 50px;
    }

    .imgban-box{
        top: 150px;
    }

    .icon-box{
        text-align: center;
        margin: 20px 0 50px 0;
    }
    
    .icon-box i{
        margin: 10px 0 0 8px;
        min-width: 40px;
        text-align: center;
    }

    .intro-box p{
        text-align: center;
    }

    /* You can put tablet styling here ------*/


    .container {
        display: grid;
        grid-template-columns: repeat(20, 5%);
        grid-template-rows: fr;
        width: 100%;
        max-width: 1400px;
        padding: 20px 0px 0px 0px;
    }

    .shortcutBox {
        grid-row: 1;
        grid-column: 3/7;
    }

    .study_info {
        grid-row: 2/10;
        grid-column: 2/8;
    }

    .quote_box {
        grid-column: 9/14;
        grid-row: 3;
    }

    .quote2 {
        grid-row: 3;
        grid-column: 14/19;
    }

    .video {
        grid-column: 9/19;
        grid-row: 5/8;
        width: 100%;
    }

    .first_accordion, .last_accordion, .news, .photo, .textBlock{
        grid-column: 9/19; 
    }

    .mapOuter{
        width: 100%;
        margin-left: 0;
        grid-column: 9/19;
    }
    

    /*!!!!!!!!!! FOOTER TABLET START !!!!!!!!!!*/
    .footer{
        background-color: #F4F4F4;
        width: 100%;
        max-width: 1025px;
      }
    .footer-studies-links{
        display: flex;  
        flex-direction: row;
      }
    
    .footer-studies2{
        padding-left: 10px;
    }

    .footer-contact{
        display: flex;
        justify-content: center;
      }
    .footer-news h3{
        margin: 0px auto 0px auto;
      }
    .footer-news p{
        width: 70%;
        margin: 0px auto 0px auto;
      }


    /*!!!!!!!!!! FOOTER TABLET END !!!!!!!!!!*/
}






/* Media query for desktop and beyond ------------------------------------------------*/


@media only screen and (min-width: 1025px){
    
    
    /*---Navigation----*/

    #main-nav .menu-container{
        display: none;
    }

    #main-header{
        width: 100%;
    }

    #header-container{
        max-width: 1200px;
        margin: 0 auto;
    }

    .flag{
        width: 25px;
        margin: -10px 10px 0;
        border: 2px solid white;
    }

   /*--------Dropdown Nav--------*/

   #dropdown-inner-container{
       max-width: 1200px;
       margin: 0 auto;
   }

   #dropdown{
        height: 0vh;
        width: 100%;
        background-color: transparent;
        position: fixed;
        top: 0px;
        opacity: 1;
        z-index: 9800;
        overflow: visible;
        font-size: 1em;
    }

    #dropdown ul{
        position: relative;
        padding: 0;
        text-align: right;
    }

    #dropdown ul li{
        padding: 0;
        margin: 0 10px;
        width: auto;
        display:inline-block;
        background-color: transparent;
    }

    #dropdown ul li a{
        background-color: transparent;
        margin: 0;
    }


    /* You can put body desktop styling here ------*/

    .accordion-grid-wrapper{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .container {
        display: grid;
        grid-template-columns: repeat(20, 5%);
        grid-template-rows: fr;
        width: 100%;
        max-width: 1400px;
        padding: 20px 0px 0px 0px;
    }

    .shortcutBox {
        grid-row: 1;
        grid-column: 3/7;
    }

    .study_info {
        grid-row: 2/10;
        grid-column: 2/8;
    }

    .quote_box {
        grid-column: 9/14;
        grid-row: 3;
    }

    .quote2 {
        grid-row: 3;
        grid-column: 14/19;
    }

    .video {
        grid-column: 9/19;
        grid-row: 5/8;
        width: 100%;
    }

    .first_accordion, .last_accordion, .news, .photo, .textBlock {
        grid-column: 9/19; 
    }












    /*!!!!!!!!!!FOOTER DESKTOP START!!!!!!!!!!*/
    .footer{
    display: grid;
    grid-template-columns: repeat(10, 10%);
    grid-template-rows: fr;
    width: 100%;
    max-width: 1400px;
    margin: 50px auto 0;
    padding: 20px 0px 0px 0px;
  }
  
  .footer-studies{
    grid-row: 1;
    grid-column: 2/7;
  }
  .border1{
    grid-row: 2;
    grid-column: 2/7;
  }
  .footer-about{
    grid-row:3;
    grid-column: 2/5;
  }
  .footer-contact{
    grid-row: 3;
    grid-column: 5/7;
    padding: 20px 0px 0px 0px;
  }
  .border2{
    grid-row: 4;
    grid-column: 2/7;
  }
  .border3{
    display: none;
  }
  .footer-news{
    grid-row: 1;
    grid-column: 7/10;
  }
  .footer-copy{
    grid-row: 2;
    grid-column: 7/10;
  }
    /*!!!!!!!!!!FOOTER DESKTOP END!!!!!!!!!!*/

}

